services:
  - type: web
    name: tienda
    env: node
    region: oregon
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production

databases:
  - name: tienda-db
    plan: free
    region: oregon
